 .u-section-1 {
  background-image: url("images/thumbnail1.jfif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 691px;
}

.u-section-1 .u-group-1 {
  width: 488px;
  min-height: 610px;
  margin: 41px 0 41px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 16px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 570px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 437px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-1 .u-group-1 {
    width: 326px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-1 .u-group-1 {
    min-height: 465px;
    margin-top: 192px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 854px;
}

.u-section-2 .u-image-1 {
  width: 800px;
  height: 899px;
  margin: 26px auto 0 153px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -866px;
  margin-bottom: 1px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 516px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 169px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 685px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 794px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  line-height: 1;
  font-size: 6.875rem;
  font-weight: 700;
  font-family: "Kaushan Script";
  margin: 0;
}

.u-section-2 .u-text-4 {
  letter-spacing: 1px;
  margin: 32px 0 0 28px;
}

.u-section-2 .u-text-5 {
  letter-spacing: 1px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 32px 0 0 28px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  border-style: none;
  margin: 45px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 204px;
    margin-left: 140px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -572px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 426px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 149px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 565px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 655px;
  }

  .u-section-2 .u-text-3 {
    font-size: 4.5rem;
  }

  .u-section-2 .u-text-4 {
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1841px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 809px;
    margin-top: 1354px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -1723px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 979px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 384px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 649px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2318px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 607px;
    margin-top: 1853px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -2199px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 734px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 974px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 6rem;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 158px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1550px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 382px;
    margin-top: 1235px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -1431px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 462px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 613px;
  }

  .u-section-2 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-text-4 {
    margin-left: 68px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 966px;
}

.u-section-3 .u-text-1 {
  width: 471px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  margin: 166px auto 0;
}

.u-section-3 .u-text-2 {
  width: 733px;
  margin: 20px auto 0;
}

.u-section-3 .u-shape-1 {
  width: 1032px;
  height: 228px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-3 .u-list-1 {
  width: 905px;
  margin: -114px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 425px;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-image-1 {
  height: 321px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-image-2 {
  height: 321px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px;
}

.u-section-3 .u-image-3 {
  height: 321px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    width: 940px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-3 .u-shape-1 {
    width: 720px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-3 .u-image-1 {
    height: 398px;
  }

  .u-section-3 .u-image-2 {
    height: 398px;
  }

  .u-section-3 .u-image-3 {
    height: 398px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-3 .u-shape-1 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    width: 422px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 455px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 455px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 455px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    height: 425px;
  }

  .u-section-3 .u-image-2 {
    height: 425px;
  }

  .u-section-3 .u-image-3 {
    height: 425px;
  }
} .u-section-4 {
  background-image: url("images/thumbnail3.jfif");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 701px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 500px;
  }
} .u-section-5 {
  min-height: 1066px;
}

.u-section-5 .u-btn-1 {
  --radius: 7px;
  background-image: none;
  margin: 10px auto 0 calc(((100% - 1140px) / 2)  + 82px);
  padding: 38px 89px 38px 88px;
}

.u-section-5 .u-btn-2 {
  --radius: 7px;
  background-image: none;
  margin: -102px calc(((100% - 1140px) / 2)  + 96px) 0 auto;
  padding: 38px 88px 39px 87px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 45px auto 0;
}

.u-section-5 .u-image-1 {
  min-height: 615px;
  margin-top: 201px;
  margin-bottom: 57px;
  height: auto;
  background-image: url("images/d6e25f4b272f959bbc7e2c93265b2e752ec22851b6ecb0de7afcd2643d004d737b5f886fd6b067f52a3f973fb00c3d5195f7f731b55f0d7051a0a7_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-5 .u-image-2 {
  width: 501px;
  height: 574px;
  margin: -161px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-btn-2 {
    margin-top: -39px;
    margin-right: calc(((100% - 940px) / 2)  + 157px);
  }

  .u-section-5 .u-text-1 {
    margin-top: 68px;
    margin-left: calc(((100% - 940px) / 2)  + 394px);
  }

  .u-section-5 .u-image-1 {
    margin-top: 89px;
    margin-bottom: 60px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-btn-2 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2)  + 302px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-btn-2 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2)  + 227px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-btn-1 {
    margin-top: -23px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-btn-2 {
    margin-top: -189px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-1 {
    margin-top: 225px;
    margin-left: calc(((100% - 340px) / 2)  + 143px);
  }

  .u-section-5 .u-image-1 {
    min-height: 465px;
  }

  .u-section-5 .u-image-2 {
    width: 320px;
    height: 367px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-6 {
  min-height: 656px;
}

.u-section-6 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 155px);
  min-height: 656px;
  margin: 0 0 0 auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  margin: 0 auto;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

.u-section-6 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: -596px 0 60px auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 468px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
}

.u-section-6 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
}

.u-section-6 .u-form-1 {
  margin: 30px auto 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 468px;
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-icon-5 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-6 .u-icon-6 {
  height: 48px;
  width: 48px;
  margin: 30px auto 0;
}

.u-section-6 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-6 .u-icon-7 {
  height: 48px;
  width: 48px;
  margin: 30px auto 0;
}

.u-section-6 .u-text-5 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 642px;
  }

  .u-section-6 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 155px);
    min-height: 642px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 16px;
  }

  .u-section-6 .u-social-icons-1 {
    height: 28px;
    width: 144px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-top: -582px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 386px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 386px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 667px;
  }

  .u-section-6 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 155px);
    min-height: 667px;
  }

  .u-section-6 .u-social-icons-1 {
    height: 26px;
    width: 134px;
    margin-top: 575px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    margin-top: -607px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1080px;
  }

  .u-section-6 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 155px);
    min-height: 1080px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-top: -1020px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 155px);
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }
}.u-section-7 .u-sheet-1 {
  min-height: 400px;
}

.u-section-7 .u-btn-1 {
  margin-bottom: 60px;
}